{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
  Start a new topic
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name}}</a></li>
  <li class="breadcrumb-item active">New topic</li>
{% endblock breadcrumb %}

{% block content %}
  <form method="post" novalidate >
    {% csrf_token %}

    {% include 'includes/form.html' %}

    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock content %}