{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock title %}

{% block breadcrumb %}
  <li class='breadcrumb-item'><a href="{% url 'home' %}">Boards</a></li>
  <li class='breadcrumb-item active'>{{ board.name }}</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New Topic</a>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
    {% for topic in topics %}
        <tr>
          <td><a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a></td>
          <td>{{ topic.starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.last_updated|naturaltime }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}

{% endblock content %}

{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> {{ board.name }} </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class='container'>
      <ol class='breadcrumb my-4'>

      </ol>
    </div>
  </body>
</html>