body {
    background-image: url(../img/y-so-serious.png);
}

.logo {
    font-family: 'Peralta', cursive;

}

.logo a {
    color: hsl(0, 0%, 100%);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}